section{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.flex-one{
    flex:1;
}

.flex-two{
    flex:1;
}

.flex-three{
    flex:1;
}

:root {
    font-size: 18px;
}

h1{
    color: purple;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 25px;
    padding-bottom: 25px;
}

h2{
    color:purple;
    font-size: 1.75rem;
    padding-top: 50px;
}

body{
    color:white;
    background-color: #6eb7da;
    font-family:verdana
}

a{
    display: block;
}

footer{
    background-color: darkblue;
    height: 7rem;
    text-align: center;
    padding-top: 25px;
}